<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jigubangbang.quest_service.repository.QuestMapper">
    <select id="getQuests" resultType="com.jigubangbang.quest_service.model.QuestDto" parameterType="map">
        SELECT 
            q.id,
            q.type,
            q.category,
            q.title,
            q.difficulty,
            q.description,
            q.xp,
            q.is_seasonal,
            q.season_start,
            q.season_end,
            q.status,
            q.created_at,
            
            (SELECT b.icon 
            FROM badge_quest bq 
            JOIN badge b ON bq.badge_id = b.id 
            WHERE bq.quest_id = q.id 
            ORDER BY bq.badge_id DESC 
            LIMIT 1) AS icon,

            (SELECT COUNT(*) 
            FROM quest_user qu 
            WHERE qu.quest_id = q.id AND qu.status = 'IN_PROGRESS'
            ) AS count_in_progress,

            (SELECT COUNT(*) 
            FROM quest_user qu 
            WHERE qu.quest_id = q.id AND qu.status = 'COMPLETED'
            ) AS count_completed
            
        FROM quest q
        <where>
            1=1
            <if test="category != null and category != 0">
                AND q.category = #{category}
            </if>
            <if test="difficulty != null and difficulty != ''">
                AND q.difficulty = #{difficulty}
            </if>
            <if test="search != null and search != ''">
                AND (q.title LIKE CONCAT('%', #{search}, '%') 
                OR q.description LIKE CONCAT('%', #{search}, '%') 
                OR CAST(q.xp AS CHAR) LIKE CONCAT('%', #{search}, '%'))
            </if>
        </where>

        <choose>
            <when test="sortOption == 'latest'">
                ORDER BY q.created_at DESC
            </when>
            
            <when test="sortOption == 'oldest'">
                ORDER BY q.created_at ASC
            </when>
            
            <when test="sortOption == 'xp_high'">
                ORDER BY q.xp DESC
            </when>
            
            <when test="sortOption == 'xp_low'">
                ORDER BY q.xp ASC
            </when>

            <when test="sortOption == 'default'">
                ORDER BY q.id ASC
            </when>

            <otherwise>
                ORDER BY q.id ASC
            </otherwise>
        </choose>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="getQuestParticipants" resultType="com.jigubangbang.quest_service.model.QuestParticipantDto">
        SELECT
            u.user_id,
            u.name,
            u.nickname,
            u.profile_image,
            u.is_premium,
            u.user_status,
            u.bio,
            u.xp,
            u.level,
            
            (SELECT 
                COUNT(*) 
             FROM quest_user qu2 
             WHERE qu2.user_id = u.user_id 
             AND qu2.status = 'COMPLETED'
            ) AS quest_completed,

            (SELECT 
                COUNT(*) 
             FROM quest_user qu3 
             WHERE qu3.user_id = u.user_id 
             AND (qu3.status = 'IN_PROGRESS')
            ) AS quest_in_progress

        FROM quest_user qu
        JOIN user u ON qu.user_id = u.user_id
        WHERE qu.quest_id = #{quest_id}
    </select>

    <select id="countQuestParticipants" parameterType="int">
        SELECT COUNT(*) FROM quest_user WHERE status = 'IN_PROGRESS' AND quest_id = #{quest_id}
    </select>

    <select id="countQuests" resultType="int" parameterType="map">
        SELECT COUNT(*)
            FROM quest q
            <where>
                1=1
                <if test="category != null and category != 0">
                    AND q.category = #{category}
                </if>
                <if test="difficulty != null and difficulty != ''">
                    AND q.difficulty = #{difficulty}
                </if>
                <if test="search != null and search != ''">
                    AND (q.title LIKE CONCAT('%', #{search}, '%') 
                    OR q.description LIKE CONCAT('%', #{search}, '%') 
                    OR CAST(q.xp AS CHAR) LIKE CONCAT('%', #{search}, '%'))
                </if>
            </where>
    </select>
  
    <select id="selectQuestById" parameterType="int" resultType="com.jigubangbang.quest_service.model.QuestDto">
        SELECT 
                q.id,
                q.type,
                q.category,
                q.title,
                q.description,
                q.difficulty,
                q.xp,
                q.is_seasonal,
                q.season_start,
                q.season_end,
                q.status,
                q.created_at,
                
                (SELECT 
                    COUNT(*) 
                FROM quest_user qu 
                WHERE qu.quest_id = q.id AND qu.status = 'IN_PROGRESS'
                ) AS count_in_progress,

                (SELECT 
                    COUNT(*) 
                FROM quest_user qu 
                WHERE qu.quest_id = q.id AND qu.status = 'COMPLETED'
                ) AS count_completed,
                
                (SELECT 
                    COUNT(*) 
                FROM quest_user qu 
                WHERE qu.quest_id = q.id AND qu.status IN ('IN_PROGRESS', 'COMPLETED', 'PENDING')
                ) AS count_total_participants
                
            FROM quest q
            WHERE q.id = #{quest_id}
    </select>

    <select id="getQuestModalById" parameterType="int" resultType="com.jigubangbang.quest_service.model.QuestPublicModalDto">
        SELECT 
            q.id,
            q.type,
            q.category,
            q.title,
            q.description,
            q.difficulty,
            q.xp,
            q.is_seasonal,
            q.season_start,
            q.season_end,
            q.status,

            (SELECT COUNT(*) FROM quest_user qu_prog WHERE qu_prog.quest_id = q.id AND qu_prog.status = 'IN_PROGRESS') as count_in_progress,
            (SELECT COUNT(*) FROM quest_user qu_comp WHERE qu_comp.quest_id = q.id AND qu_comp.status = 'COMPLETED') as count_completed
            
        FROM quest q
        WHERE q.id = #{quest_id}
    </select>

    <select id="getBadgesByQuestId" parameterType="int" resultType="com.jigubangbang.quest_service.model.BadgeDto">
        SELECT 
            b.id,
            b.kor_title,
            b.eng_title,
            b.description,
            b.icon,
            b.created_at,
            b.difficulty,
            (SELECT COUNT(*) FROM badge_user bu WHERE bu.badge_id = b.id) as acquired_count
        FROM badge_quest bq
        JOIN badge b ON bq.badge_id = b.id
        WHERE bq.quest_id = #{quest_id}
        ORDER BY b.id
    </select>

    <select id="getInProgressUsers" parameterType="int" resultType="com.jigubangbang.quest_service.model.QuestSimpleParticipantDto">
        SELECT 
            u.user_id,
            u.nickname,
            u.profile_image
        FROM quest_user qu
        JOIN user u ON qu.user_id = u.user_id
        WHERE qu.quest_id = #{quest_id} 
        AND qu.status = 'IN_PROGRESS'
        ORDER BY qu.started_at DESC
    </select>

    <select id="getCompletedUsers" parameterType="int" resultType="com.jigubangbang.quest_service.model.QuestSimpleParticipantDto">
        SELECT 
            u.user_id,
            u.nickname,
            u.profile_image
        FROM quest_user qu
        JOIN user u ON qu.user_id = u.user_id
        WHERE qu.quest_id = #{quest_id} 
        AND qu.status = 'COMPLETED'
        ORDER BY qu.completed_at DESC
    </select>
</mapper>