<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jigubangbang.com_service.repository.TravelmateMapper">
    <select id="selectAllCountries" resultType="com.jigubangbang.com_service.model.CountryDto">
        SELECT 
            id,
            name,
            continent
        FROM country
        ORDER BY name ASC
    </select>

    <select id="selectCitiesByCountryId" parameterType="String" resultType="com.jigubangbang.com_service.model.CityDto">
        SELECT 
            id,
            city_name,
            country_id
        FROM city
        WHERE country_id = #{countryId}
        ORDER BY city_name ASC
    </select>


</mapper>