<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jigubangbang.com_service.repository.CommonMapper">

    <insert id="insertReport" parameterType="com.jigubangbang.com_service.model.Report">
        INSERT INTO report (
            reporter_id,
            target_user_id,
            content_subtype,
            content_type,
            content_id,
            reason_code,
            reason_text,
            report_status,
            reported_at
        ) VALUES (
            #{reporterId},
            #{targetUserId},
            #{contentSubtype},
            #{contentType},
            #{contentId},
            #{reasonCode},
            #{reasonText},
            #{reportStatus},
            NOW()
        )
    </insert>

    <select id="existsByReporterAndContent" resultType="boolean">
        SELECT COUNT(*) &gt; 0
        FROM report
        WHERE reporter_id = #{reporterId}
          AND content_subtype = #{contentSubtype}
          AND content_id = #{contentId}
    </select>

    <select id="getUserProfile" parameterType="String" resultType="String">
        SELECT profile_image
        FROM user
        WHERE user.user_id = #{userId}
    </select>

</mapper>